/* <------------ website devlopment ---------> */

#why-website {
  padding: 50px 0px;
}

.section-head {
  margin-bottom: 50px;
}

.section-head .head-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}

.section-head .head-slogan {
  font-size: 1.7rem;
  padding-left: 20px;
  border-left: 2px solid #27286d;
  text-align: justify;
}

#why-website .why-content {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 30px;
}

#why-website .why-grid .why-box {
  padding: 20px 16px;
  box-shadow: 0 8px 24px #adacac66;
  cursor: pointer;
  transition: all 0.5s linear;
  border-radius: 10px;
  display: grid;
  grid-row-gap: 10px;
}

#why-website .why-grid .why-box .icon {
  border: 1px solid grey;
  color: grey;
  font-size: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

#why-website .why-grid .why-box .icon .icon-img {
  width: 35px;
  height: 35px;
}

#why-website .why-grid .why-box .title {
  font-weight: bold;
  font-size: 2rem;
}

#why-website .why-grid .why-box .content {
  font-size: 1.4rem;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  height: 144px;
}

/* <------------------------------------------ Technologies We Use ----------------------------> */

#website-tech {
  padding: 40px 0px;
  background-color: rgb(253, 253, 253);
}

#website-tech .section-head {
  margin-bottom: 30px;
}

#website-tech .section-head .head-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
  position: relative;
}

#website-tech .section-head .head-title::before {
  /* content: "We Work";
  position: absolute;
  top: -120%;
  left: 40%;
  font-size: 6rem;
  font-weight: bolder;
  -webkit-text-stroke: 2px #1f1f1f;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  font-family: "sans-serif", sans-serif; */
}

.section-head .head-slogan {
  font-size: 1.6rem;
  padding-left: 20px;
  border-left: 2px solid #27286d;
  text-align: justify;
  font-family: "sans-serif", sans-serif;
}

#website-tech .section-content .tab-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgb(244, 221, 221);
}

#website-tech .section-content .tab-buttons button {
  padding: 5px 10px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #746f6f;
  font-family: "sans-serif", sans-serif;
}

#website-tech .section-content .tab-buttons button:hover {
  border: 1px solid whitesmoke;
}

#website-tech .section-content .tab-buttons button.active {
  border-bottom: 3px solid #27286d;
  font-weight: 600;
  color: #534e4e;
}

#website-tech .tab-content .tech-grid a {
  color: rgb(67, 63, 63);
  font-size: 15px;
  font-family: "sans-serif", sans-serif;
}

#website-tech .tab-content .inner-box {
  width: 50px;
  height: 50px;
}

#website-tech .tab-content .inner-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#mob-serv-tab #website-tech .tech-tabs .tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#website-tech .tech-tabs .tab button.active {
  background-color: #27286d;
  color: white;
  font-weight: 400;
}

#website-tech .tech-tabs .tab button {
  background: #9d9dc5;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  min-width: auto;
  box-shadow: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

#website-tech .tech-tabs .tab button:hover {
  box-shadow: inset 0 8px 24px #ffffff38;
}

#website-tech .tech-tabs #Languages {
  display: block;
}

#website-tech .tech-tabs .tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
}

#website-tech .tech-grid .tech-item {
  max-width: 80px;
  margin: 0px auto 15px;
}

#website-tech .tech-grid .tech-item .logo {
  width: 100%;
  aspect-ratio: 1/1;
  /* filter: grayscale(1); */
}

/* <-----------------------------------Try Our Cost Calculator---------------------------------> */

#website-contact {
  padding: 50px 0px;
}

#website-contact .calc-side {
  position: relative;
  aspect-ratio:1;
  max-height: 580px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

#website-contact .calc-side .content {
  width: 100%;
  height: 100%;
  background: #0000007a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#website-contact .calc-side .head {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

#website-contact .calc-side .sub-head {
  font-size: 2.3rem;
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: center;
}

#website-contact .calc-side a {
  display: block;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: rgb(240, 239, 239);
  font-weight: bold;
  transition: all 0.3s linear;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.5rem;
}

#website-contact .calc-side a:hover {
  letter-spacing: 4px;
  word-spacing: 10px;
}

#website-contact .calc-side .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* <----------------------------- How we devlope -----------------------------------------> */

#development-process {
  padding: 50px 0px;
}

.section-head {
  margin-bottom: 50px;
}

.section-head .head-title {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}

.section-head .head-slogan {
  font-size: 1.7rem;
  padding-left: 20px;
  border-left: 2px solid #27286d;
  text-align: justify;
}

#development-process .process-step {
  padding: 30px 0 30px 50px;
  border-left: 5px solid #27286d;
}

#development-process .process-step .step-box {
  margin-bottom: 50px;
}

#development-process .process-step .step-box .head-bar {
  position: relative;
  max-width: 500px;
  height: 5px;
  background: #27286d;
  margin-bottom: 30px;
  left: -50px;
}

#development-process .process-step .step-box .step-num {
  position: absolute;
  right: 40px;
  top: -38px;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #00000096;
}

#development-process .process-step .step-box .head-bar::after {
  content: "";
  background: white;
  height: 3px;
  width: 10px;
  background: white;
  position: absolute;
  top: 1px;
  left: 0;
  animation-name: pillSlide;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#development-process .process-step .step-box .bottom-bar {
  display: flex;
  align-items: center;
}

#development-process .process-step .step-box .image {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}

#development-process .process-step .step-box .content-block {
  width: calc(100% - 200px);
  padding-left: 20px;
}

#development-process .process-step .step-box .title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#development-process .process-step .step-box .content {
  text-align: justify;
  font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
  #website-contact {
    padding: 30px 0px;
  }

  #website-contact .calc-side .content {
    padding: 0px;
  }
  #development-process .process-step .step-box .step-num {
    position: absolute;
    right: 40px;
    top: -38px;
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #00000096;
  }
  #website-contact .calc-side .head {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  #website-contact .calc-side .sub-head {
    font-size: 1.8rem;
    color: whitesmoke;
    margin-bottom: 10px;
    text-align: center;
  }

  #development-process {
    padding: 10px 0px;
  }

  #development-process .process-step {
    padding: 30px 0 30px 20px;
  }

  #development-process .process-step .step-box .head-bar {
    left: -20px;
  }

#why-website .why-grid .why-box .title {
  font-weight: bold;
  font-size: 1.8rem;
}

  #development-process .process-step .step-box .bottom-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #development-process .process-step .step-box .content-block {
    width: 100%;
    padding-left: 0px;
  }

  #development-process .process-step .step-box .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
  }
}

@media only screen and (max-width : 576px) {
  #website-tech .section-content .tab-buttons {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

@media only screen and (max-width : 400px) {
  .accordion-item-header::after {
    top: calc(50% - 5px);
  }
  /* .accordion-item-header {
    padding: 10px 20px !important;
    padding: 10px 12px 10px 12px !important;
  } */

  /* .accordion-item-header::after {
    content: "\002B";
    font-size: 1.6rem;
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #27286d;
    border-radius: 50%;
    color: white;
    display: grid;
    place-items: center;
  }
  
  .accordion-item-header.active::after {
    content: "\2212";
  } */

  .accordion-item-header::after {
    /* font-size: 1.2rem !important; */
    bottom: 0px !important;
    margin-top: 16px !important;
  }
}
