#about {
  padding: 50px 0px;
}
.section-head {
  margin-bottom: 30px;
}
.section-head .circle {
  display: none;
}

.head_title
{
  font-size: 3.2rem !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
  font-family: "sans-serif", sans-serif !important;
}
.section-head .head-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}
.section-head .head-slogan {
  padding-left: 20px;
  border-left: 2px solid #27286d;
  text-align: justify;
  font-size: 1.5rem;
}

.page_title{
  font-size: 1.6rem !important;
}  

#about .about-video {
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: relative;
}
#about .about-photo {
  aspect-ratio: 1/1.2;
  clip-path: polygon(100% 0%, 100% 59%, 100% 100%, 49% 100%, 0 59%, 0 0);
  position: relative;
}
#about .about-photo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .about-video-btn {
  position: absolute;
  left: 73px;
  bottom: 73px;
  font-size: 2rem;
  background: #27286d;
  color: white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding-left: 4px;
  box-shadow: 0 0 2px 20px #00000036;
  animation-name: box-shadow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.fa-solid,
.fas {
  font-weight: 900;
}
.fa-play:before {
  content: "\f04b";
}
.section-content .content-head {
  font-size: 2.3rem;
  font-weight: lighter;
  margin-bottom: 20px;
  color: #27286d;
  position: relative;
  display: inline-block;
}
.section-content .content-head::after {
  content: "";
  background-color: rgb(144, 149, 8);
  width: 50px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  right: -55px;
}
.section-content .content-data {
  color: #4e4e4e;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.aboutc-btn {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-family: "sans-serif", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #27286d 5%);
  border: 0;
  color: #fff;
  box-shadow: 6px 0px 0px rgb(144, 149, 8);
  outline: transparent;
  position: relative;
  padding: 3px 20px;
  text-transform: uppercase;
}
.section-content .value-block {
  display: flex;
  margin: 60px 0px;
  cursor: pointer;
}
.section-content .value-block .value-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 5px;
  position: relative;
}
.section-content .value-block .value-icon img {
  filter: invert(13%) sepia(38%) saturate(4044%) hue-rotate(229deg)
    brightness(92%) contrast(93%);
}
.section-content .value-block .value-icon::after {
  content: "";
  background: #00000012;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transition: all 0.3s linear;
}
.section-content .value-block .value-content {
  width: calc(100% - 90px);
  text-align: justify;
}
.section-content .value-block .value-head {
  font-size: 1.8rem;
  font-weight: 600;
  color: #27286d;
}
.section-content .value-block .value-data {
  color: #4e4e4e;
  font-size: 1.3rem;
  /* display: -webkit-box;
  -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section-content .value-block {
  display: flex;
  margin: 65px 0px;
  cursor: pointer;
}
.section-content .value-block .value-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 5px;
  position: relative;
}
@media screen and (max-width: 640px) {
  #about {
    padding: 20px 0px 0 0;
  }
  .section-content .content-head {
    font-size: 2rem;
    color: #27286d;
    margin: 15px 0px;
  }
  .section-content .about-content-data-btn {
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .head_title
  {
    font-size: 2.5rem !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
    font-family: "sans-serif", sans-serif !important;
  }
}

