#features {
  padding: 50px 0px;
  
}
#features .cservice-section-head {
  margin-bottom: 40px;
}
#features .cservice-section-head .cservice-head-title {
  font-size: 2.7rem;
  text-align: start; 
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Exo", sans-serif;
}

#milestones .cservice-head-title {
  font-size: 2.7rem;
  text-align: start; 
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Exo", sans-serif;
}

.allservice{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 10px;
  align-items: center;
}

.allservice .image{
  width: 200px;
  aspect-ratio: 1.5;
}

#features .cservice-section-head .cservice-head-slogan {
  padding-left: 20px;
  font-size: 1.6rem;
  border-left: 2px solid #27286d;
  text-align: justify;
}

#features .section-content .left-box {
  border: 1px solid #dcdcdc;
  background-image: url("image/home/service/cards-bg-1.svg");
  background-color:#ffffff;
  border-radius: 10px;
  background-position: right;
  background-size: cover;
  padding: 40px 20px;
}
#features .section-content .left-box:hover {
  border: 2px solid #282c6c;
}
#features .section-content .left-box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#features .section-content .left-box .top .heading {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.15;
  color: #081033;
  visibility: visible;
  opacity: 1;
}
#features .section-content .left-box .top .image {
  width: 250px;
  height: auto;
}
#features .section-content .left-box .center-text {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.25;
  color: #081033;
  visibility: visible;
  opacity: 1;
  padding: 50px 0;
}
#features .section-content .left-box .bottom-btn {
  padding: 25px 0 20px 0;
}
#features .section-content .left-box .bottom-btn a {
  font-size: 20px;
  color: #081033;
  font-family: "Exo", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s linear;
}
#features .section-content .left-box .bottom-btn a:hover {
  letter-spacing: 1px;
  word-spacing: 3px;
}
#features .section-content .right-box {
  display: grid;
  gap: 20px;
}
#features .section-content .right-box .card {

  border: 1px solid #dcdcdc;
  background-image: url("image/home/service/cards-bg-1.svg");
  background-color:#ffffff;
  border-radius: 10px;
  background-position: right;
  background-size: cover;
}
#features .section-content .right-box .card:hover {
  border: 2px solid #282c6c;
}
#features .section-content .right-box .card .footer-btn {
  font-size: 16px;
  padding: 20px 0 20px 30px;
}
#features .section-content .right-box .card .footer-btn a {
  font-size: 20px;
  color: #081033;
  font-family: "Exo", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s linear;
}
#features .section-content .right-box .card .footer-btn a:hover {
  letter-spacing: 1px;
  word-spacing: 3px;
}
#features .section-content .right-box .card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 30px;
}
#features .section-content .right-box .card1 .text .heading {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.15;
  color: #081033;
  visibility: visible;
  opacity: 1;
}
/* #features .section-content .right-box .card:hover .card1 .text .heading {
  display: none;
} */
#features .section-content .right-box .card1 .text .slogan {
  padding-top: 20px;
  font-size: 1.6rem;
  text-align: justify;
  width: 350px;
  display: block;
}
/* #features .section-content .right-box .card:hover .card1 .text .slogan {
  display: block;
} */
#features .section-content .right-box .card1 .image {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 768px) {
  #features {
    padding: 10px 0px 50px 0;
  }
  #features .cservice-section-head {
    margin-bottom: 30px;
  }
  #features .section-content .left-box {
    padding: 20px;
  }
  #features .section-content .left-box .top {
    flex-direction: column;
  }
  #features .section-content .left-box .top .heading {
    padding-bottom: 20px;
  }
  #features .section-content .left-box .center-text {
    padding: 30px 0;
    text-align: justify;
  }
  #features .section-content .left-box .bottom-btn {
    padding: 15px 0;
  }
  #features .section-content .right-box .card {
    margin-top: 30px;
  }
  #features .section-content .right-box .card1 {
    flex-direction: column;
    padding: 25px 0 0 0px;
  }
  #features .section-content .right-box .card1 .text .heading {
    text-align: center;
    padding-bottom: 20px;
  }
  .allservice{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }
  .allservice .image{
    width: 100%;
  }
}
