/* -- ===========================================
                CAREERS PAGE
=========================================== -- */

/* CAREER CARDS  */
#career-cards {
  padding: 50px 0;
}

#career-cards .career-img {
  max-width: 450px;
  aspect-ratio: 1/1;
  margin-bottom: 30px;
}

#career-cards .career-img img {
  object-fit: cover;
}

#career-cards .career-content {
  margin-bottom: 30px;
}

#career-cards .career-content .top {
  position: relative;
  margin: 20px 0;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

#career-cards .career-content .number {
  position: absolute;
  font-size: 6.4rem;
  color: #27286d69;
  font-weight: bold;
  bottom: 0;
  left: 0;
}

#career-cards .career-content .slogan {
  font-weight: bold;
  font-size: 1.6rem;
}

#career-cards .career-content .title {
  font-size: 3.2rem;
  font-weight: bolder;
  margin-bottom: 10px;
  color: black;
}

#career-cards .career-content .title span {
  color: #292c6c;
}

#career-cards .career-content .content {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: justify;
}

#career-cards .career-content a.link {
  background: #292c6c;
  color: white;
  padding: 5px 15px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 6px 0px 0px #909508;
}

.modal-dialog {
 max-width: 800px !important;
  width: 90% !important; 
}

.modal-containt{
  max-height: 600px !important;
  overflow-y:auto;
}


/* JOB CARDS */
#job-cards {
  padding: 50px 0;
}

#job-cards .job-card {
  padding: 20px 20px 10px;
  box-shadow: 0 8px 24px #8080804f;
  border-radius: 10px;
  /* max-width: 350px; */
  margin: 0px auto 20px;
}

#job-cards .job-card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#job-cards .job-card .logo {
  width: 50px;
  height: 50px;
}

#job-cards .job-card .apply-btn {
  letter-spacing: 1px;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 1.4rem;
  border: 2px solid #292c6c;
  color: #292c6c;
  background: initial;
  border-radius: 5px;
  transition: all 0.3s linear;
}

#job-cards .job-card button {
  min-width: auto;
  box-shadow: none;
}

#job-cards .job-card button:hover::after {
  animation: initial;
}

#job-cards .job-card .apply-btn:hover {
  background: #292c6c;
  color: white;
}

#job-cards .job-card .head {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#job-cards .job-card .data {
  font-size: 1.3rem;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 62px;
  text-align: justify;
}

#job-cards .job-card .bottom {
  padding-top: 10px;
  border-top: 1px solid grey;
  text-align: right;
  font-size: 1.2rem;
}

/* CAREER FORM */
#career-form {
  padding: 50px 0;
}

#career-form .job-steps .step {
  max-width: 400px;
  padding: 10px;
  border-top: 4px solid #292c6c;
  margin-bottom: 20px;
}

#career-form .job-steps .count {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

#career-form .job-steps .title {
  font-size: 1.6rem;
}

#career-form .career-form {
  max-width: 450px;
  margin: 0px auto;
  padding: 20px;
  box-shadow: 0 8px 24px #8080802e;
  border-radius: 10px;
  background: white;
}

#career-form .career-form input,
#career-form .career-form select {
  width: 100%;
  display: block;
  padding: 5px 10px;
  border: 1px solid grey;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1.4rem;
}

#career-form .career-form .file-field {
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px dashed #292c6c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

#career-form .career-form .file-field div {
  font-size: 1.6rem;
}

#career-form .career-form .file-field input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#career-form .career-form button {
  min-width: auto;
  box-shadow: none;
  margin-top: 10px;
  width: 100%;
  background: #292c6c;
  font-family: "sans-serif", sans-serif;
  border-radius: 5px;
  padding: 7px 10px;
  color: white;
  font-size: 1.6rem;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#career-form .career-form button:hover::after {
  animation: initial;
}

.modal-containt {
  font-size: 15px;
}

/* JOB FORM */
#job-modal .group-input label {
  display: block;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

#job-modal .group-input input,
#job-modal .group-input select {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 4px 10px;
  font-size: 1.4rem;
  border: 1px solid grey;
  border-radius: 5px;
}

#job-modal .modal-footer button {
  background: #27286d;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #27286d;
  color: white;
  border-radius: 0;
  transition: all 0.3s linear;
}

#job-modal .modal-footer button:hover {
  background: white;
  color: #27286d;
}

@media screen and (max-width: 994px) {
  #career-cards {
    padding: 30px 0;
  }

  #career-cards .career-img {
    max-width: 450px;
    width: 100%;
    aspect-ratio: 1/0.7;
    margin-bottom: 10px;
  }

  #career-cards .career-content {
    margin-bottom: 10px;
  }

  #career-cards .col-lg-6:nth-child(1) {
    order: 1;
    display: inherit;
  }

  #career-cards .col-lg-6:nth-child(2) {
    order: 2;
    display: inherit;
  }

  #career-cards .col-lg-6:nth-child(3) {
    order: 4;
    display: inherit;
  }

  #career-cards .col-lg-6:nth-child(4) {
    order: 3;
    display: inherit;
  }

  #career-cards .col-lg-6:nth-child(5) {
    order: 5;
    display: inherit;
  }

  #career-cards .col-lg-6:nth-child(6) {
    order: 6;
    display: inherit;
  }

  #career-form {
    padding: 20px 0;
  }

  #career-form .job-steps .step {
    width: 100%;
    max-width: 400px;
  }

  #career-form .career-form {
    width: 100%;
  }

  #job-cards {
    padding: 20px 0;
  }
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.success-message h3 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}

.success-message p {
  margin: 0;
  padding: 5px 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    #career-cards .career-img {
    max-width: fit-content;
    width: 100%;
    aspect-ratio: 1/0.7;
    margin-bottom: 10px;
  }
}