:root {
    scrollbar-width: thin !important;
    --white: #fff;
    --black: #000;
    --dark: #2a2a2e;
    --yellow: #f7b500;
    --darkyellow: #f79300;
    --red: #fe3e30;
    --darkred: #f72729;
    --blue: #2588cf;
    --darkblue: #026dbe;
    --defaultfont: 'Exo', sans-serif;
    --titlefont: 'Exo', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}

body {
    margin: 0;
    overflow-x: hidden !important;
    font-family: var(--defaultfont);
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button,
input,
select,
p {
    outline: none !important;
    transition: 0.5s;
}

em {
    font-style: normal;
    color: var(--primary);
}

p {
    font-size: 1.5rem;
    color: rgba(1, 1, 1, 0.7);
    /* font-family: "Poppins", sans-serif; */
    padding-left: 20px;
    border-left: 2px solid #27286d;
    text-align: justify;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

fieldset {
    width: 86%;
    border: 0;
    padding: 0;
    margin: 0;
}

.title {
    font-family: var(--titlefont);
}

.btn1,
.btn2 {
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
    border: 0;
}

.btn1 {
    background-color: #27286d;
    color: var(--white);
}

.btn1:hover {
    background-color: #27286d;
}

.btn2 {
    background-color: var(--red);
    color: var(--white);
}

.btn2:hover {
    background-color: var(--darkred);
}

.blog_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #f8f9fa;
}

/*BLOG LEFT CONTENT*/

.blog_content {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.left_content {
    flex: 0 0 66%;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.left_content .blog_card {
    flex: 1 0 48.5%;
    background-color: var(--white);
    margin-bottom: 20px;
}

.left_content .blog_card:first-child {
    flex: 0 0 100%;
}

.blog_card .figure {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.left_content .blog_card:first-child .figure {
    height: 300px;
}

.blog_card .figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.blog_card .tag {
    padding: 5px 10px;
    background-color: #27286d;
    color: var(--white);
    position: absolute;
    right: 1%;
    top: 3%;
    font-size: 12px;
}

.blog_card section {
    padding: 1rem;
    position: relative;
    background-color: var(--white);
}

.blog_card section .title {
    font-weight: 600;
    font-size: 3.2rem;
    color: var(--dark);
    font-family: "Exo", sans-serif;
    text-decoration: none;
}

.blog_card section a:hover {
    color: #0004ff;
}

.blog_card:hover>.figure img {
    transform: scale(1.1);
}

.share_icon {
    position: absolute;
    bottom: -30px;
    left: 10px;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    align-items: center;
    padding-right: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s;
}

.share_icon .fa {
    padding: 5px;
    background-color: var(--darkred);
    margin-right: 10px;
}

.blog_card section img {
    width: 30%;
    margin-right: 20px;
    object-fit: cover;
    border: 5px solid rgba(1, 1, 1, 0.1);
}

.blog_card section img:nth-child(even) {
    float: left;
}

.blog_card section img:nth-child(odd) {
    float: right;
}


/*BLOG RIGHT CONTENT*/
.right_content {
    flex: 0 0 34%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -20px;
}

.columns {
    display: block;
    margin-bottom: 4vh;
    background-color: var(--white);
}

.columns section {
    padding: 1rem;
}

.columns .title {
    background-color: #27286d;
    color: var(--white);
    padding: 1rem;
    text-align: left;
    display: block;
    transition: 0.2s;
    border-left: 0px solid var(--dark);
    font-size: 1.5rem;
    font-weight: bold;
}

.columns:hover>.title {
    border-left: 5px solid var(--dark);
}

.columns .title a {
    float: right;
}

.columns .title a:hover {
    color: var(--dark);
}

@keyframes opaqTransition {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-700px);
    }

    95% {
        transform: translateX(-700px);
    }

    100% {
        transform: translateX(0);
    }
}

.posts a {
    display: flex;
    align-items: center;
    margin: 0.4rem 0;
    text-decoration: none;
}

.posts a img {
    width: 100px;
    margin-right: 10px;
}

.posts a:hover>p {
    color: var(--black);
}


/*COMMENTS*/
.comments {
    position: relative;
    overflow: hidden;
}

.marquee2 {
    line-height: 2.5em;
    position: relative;
    -webkit-animation: animate-vertical 20s linear infinite;
    -moz-animation: animate-vertical 20s linear infinite;
    animation: animate-vertical 20s linear infinite;
}

@keyframes animate-vertical {
    0% {
        top: 0;
    }

    100% {
        top: -100%;
    }
}

/*MEDIA QUERIES*/
@media (max-width: 1000px) {
    .blog_content {
        padding: 1rem;
    }

    .right_content {
        padding: 1rem;
    }

    .left_content {
        flex-direction: row;
        flex: 0 0 100%;
        margin-left: 10px;
    }

    .left_content .blog_card {
        flex: 0 0 100%;
    }

    .right_content {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 2rem;
    }

    .left_content .blog_card:first-child .figure {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .blog_content .load-btn {
        padding: 0.5rem 1rem;
    }

    .columns section {
        padding: 0.5rem;
    }

    .search form input {
        padding: 0.5rem;
    }

    .columns .title {
        font-size: 1.2rem;
    }

    .blog_card .figure {
        height: 150px;
    }

    .left_content .blog_card:first-child .figure {
        height: 200px;
    }

    .blog_card section .title {
        font-size: 2.5rem;
    }

    .btn1,
    .btn2 {
        padding: 0.5rem 1rem;
    }

    p {
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .right_content {
        margin-top: 0px;
    }
}