/* -- -------------------------------
                FAQ'S
------------------------------- -- */
#enterprise-faq .accordion {
  margin-bottom: 20px;
}

#enterprise-faq .accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1.6rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}

#enterprise-faq .accordion-item-header {
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#enterprise-faq .accordion-item-header::after {
  content: "\002B";
  font-size: 1.6rem;
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: #27286d;
  border-radius: 50%;
  color: white;
  display: grid;
  place-items: center;
}

#enterprise-faq .accordion-item-header.active::after {
  content: "\2212";
}

#enterprise-faq .accordion-item-body {
  /* max-height: 0;
    overflow: hidden; */

  transition: max-height 0.2s ease-out;
}

#enterprise-faq .accordion-item-body-content {
  padding: 1.6rem;
  line-height: 2.4rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  font-size: 1.5rem;
}

/* -- -------------------------------
                FAQ'S
------------------------------- -- */
#enterprise-process {
  padding: 50px 0;
}
#enterprise-process .section-head .head-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}
#enterprise-process .timeline {
  position: relative;
  width: 100%; 
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

#enterprise-process .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #27286d;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

#enterprise-process .contain {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

#enterprise-process .contain.left {
  left: 0;
}

#enterprise-process .contain.right {
  left: 50%;
}

#enterprise-process .contain::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #27286d;
  border-radius: 16px;
  z-index: 1;
}

#enterprise-process .contain.right::after {
  left: -8px;
}

#enterprise-process .contain::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #27286d;
  z-index: 1;
}

#enterprise-process .contain.right::before {
  left: 8px;
}

#enterprise-process .contain .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: white;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #27286d;
  z-index: 1;
}

#enterprise-process .contain.left .icon {
  right: 56px;
}

#enterprise-process .contain.right .icon {
  left: 56px;
}

#enterprise-process .contain .content {
  padding: 30px 90px 30px 30px;
  background: #27286d;
  position: relative;
  border-radius: 0 500px 500px 0;
}

#enterprise-process .contain.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

#enterprise-process .contain .content h2 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  color: white;
  font-family: "sans-serif", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

#enterprise-process .contain .content p {
  font-size: 1.45rem;
  color: whitesmoke;
  text-align: justify;
}

/* -- -------------------------------
            SERVICES
------------------------------- -- */
#enterprise-services {
  padding: 50px 0;
}
#enterprise-services .section-head .head-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}
#enterprise-services .service-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  overflow: hidden;
  box-shadow: 0 8px 24px #a7a4a49e;
  transform: rotate(-5deg);
  padding: 50px 20px 20px;
}

#enterprise-services .service-card .top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#enterprise-services .service-card .hang {
  border: 2px solid #27286d;
  padding: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

#enterprise-services .service-card .hang div {
  width: 8px;
  height: 8px;
  background: #27286d;
  border-radius: 50%;
}

#enterprise-services .service-card .icon {
  width: 35px;
  height: 35px;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
}

#enterprise-services .service-card .head {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 10px;
  width: calc(100% - 35px);
}

#enterprise-services .service-card .content {
  font-size: 1.5rem;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  height: 160px;
}

/*! -- ------------------------------- -- */
/*! --               TABS
/*! -- ------------------------------- -- */

#enterprise-tabs {
  padding: 50px 0;
}
#enterprise-tabs .section-head .head-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "sans-serif", sans-serif;
}
#enterprise-tabs .tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enterprise-tabs .main-box {
  display: flex;
  background: #27286d;
  padding: 0;
}

#enterprise-tabs .box {
  height: 322px;
  padding: 15px;
  border-right: 1px solid white;
  -o-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  list-style: none;
  font-size: 1.6rem;
}

#enterprise-tabs .detail {
  width: 90%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  color: black;
  opacity: 0;
  padding: 20px;
  box-sizing: border-box;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

#enterprise-tabs .box.active {
  width: 80% !important;
}

#enterprise-tabs .box.active .detail {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  transform: none;
}

#enterprise-tabs .box span {
  writing-mode: vertical-rl;
  font-family: "sans-serif", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 40px;
  transform: rotate(180deg);
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 5px;
}

#enterprise-tabs .box.active span {
  left: 25px;
  right: auto;
  margin: 0;
  font-weight: 600;
}

@media screen and (max-width: 994px) {
  #enterprise-services {
    padding: 20px 0;
  }
  #enterprise-services .section-head .head-title {
    font-size: 2.9rem;
  }
  #enterprise-services .service-card {
    transform: none;
  }
  #enterprise-tabs {
    padding: 20px 0;
  }
  #enterprise-tabs .section-head .head-title {
    font-size: 2.9rem;
  }

  #enterprise-tabs .main-box {
    flex-direction: column;
  }

  #enterprise-tabs .box span {
    transform: initial;
    writing-mode: initial;
    display: block;
    position: static;
    width: 100%;
  }

  #enterprise-tabs .box.active {
    width: 100% !important;
    height: 100% !important;
  }
  #enterprise-tabs .detail {
    width: 100%;
    position: static;
  }

  #enterprise-process {
    padding: 20px 0;
  }
  #enterprise-process .section-head {
    margin-bottom: 30px;
  }
  #enterprise-process .section-head .head-title {
    font-size: 3rem;
  }
  #enterprise-process .timeline::after {
    left: 90px;
    display: none;
  }

  #enterprise-process .contain {
    width: 100%;
    /* padding-left: 120px;
    padding-right: 30px; */
  }

  #enterprise-process .contain.right {
    left: 0%;
  }

  #enterprise-process .contain.left::after,
  #enterprise-process .contain.right::after {
    left: 82px;
    display: none;
  }

  #enterprise-process .contain.left::before,
  #enterprise-process .contain.right::before {
    left: 100px;
    display: none;
    border-color: transparent #006e51 transparent transparent;
  }

  #enterprise-process .contain.left .icon,
  #enterprise-process .contain.right .icon {
    right: auto;
    left: 146px;
    display: none;
  }

  #enterprise-process .contain.left .content,
  #enterprise-process .contain.right .content {
    padding: 20px 20px 80px 20px;
    border-radius: 0 0 50% 50%;
    text-align: center;
  }
  #enterprise-process .contain .content p {
    text-align: center;
  }
}

@media screen and (max-width:450px) {
  #enterprise-tabs .box {
    width: 100% !important;
    height: 50px !important;
    font-size: 12px !important;
    padding: 6px 0px !important;
  }
}
