@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Exo&family=Marcellus&family=Nunito&display=swap");

@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Exo&family=Nunito&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Exo&family=Fira+Mono&family=Marcellus&family=Nunito&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans-serif", sans-serif;
  /* font-family: 'Nunito', sans-serif; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* 1rem = 10px */
}
a {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  html,
  body {
    overflow-x: hidden !important;
    overflow-x: clip !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  #root {
    overflow-x: hidden !important;
    overflow-x: clip !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}



