@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Exo&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Exo&family=Marcellus&family=Nunito&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Exo&family=Nunito&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Exo&family=Fira+Mono&family=Marcellus&family=Nunito&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans-serif", sans-serif;
  /* font-family: 'Nunito', sans-serif; */
}

html, body {
  overflow: auto !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* 1rem = 10px */
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
}
/* body {
  overflow-x: hidden;
} */

