#qms-heading {
  margin-top: 20px;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
}

.head-image-containt {
  display: flex;
}

.qms-heading-containt {
  margin-top: 35px;
  /* margin-left: 55px; */
  font-size: medium;
}

.qms123 {
  height: 200px;
  width: 640px;
  margin-top: -19px;
}

.qms-icon-image {
  margin-top: 30px;
  margin-left: -15px;
  height: 55px;
  width: 55px;
}

.qms-icon-image1 {
  /* margin-top: 10px; */
  margin-left: -15px;
  height: 55px;
  width: 55px;
}

.head-image-main {

  display: flex;
  margin-top: 25px;

}

.qms-cards-heading {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 30px;

}

/* @import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700); */

/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */

body {
  background: #fbfbfb;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  color: #777;
}

h1,
h4 {
  font-family: 'Exo', sans-serif;
}

.row {
  padding: 10px 0;
}

.seperator {
  margin-bottom: 30px;
  width: 181px;
  height: 3px;
  background: #777;
  border: none;
  cursor: pointer;
}

.seperator:hover {
  background-color: rgba(30, 7, 236, 0.667);
  /* color: rgba(30, 7, 236, 0.667); */
  /* height: 5px; */
  cursor: pointer;
}

.seperator1:hover {
  background-color: rgba(30, 7, 236, 0.667);
  /* color: rgba(30, 7, 236, 0.667); */
  /* height: 5px; */
  cursor: pointer;
}

.seperator2:hover {
  background-color: rgba(30, 7, 236, 0.667);
  /* color: rgba(30, 7, 236, 0.667); */
  /* height: 5px; */
  cursor: pointer;
}

.seperator1 {
  margin-bottom: 30px;
  width: 115px;
  height: 3px;
  background: #777;
  border: none;
}

.seperator2 {
  margin-bottom: 30px;
  width: 131px;
  height: 3px;
  background: #777;
  border: none;
}

.title {
  text-align: center;

  .row {
    padding: 50px 0 0;
  }

  :is(h1) {
    text-transform: uppercase;
  }

  .seperator {
    margin: 0 auto 10px;
  }
}

.item {
  position: relative;
  margin-bottom: 30px;
  min-height: 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;

  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .item-in {
    background: #fff;
    padding: 40px;
    position: relative;

    &:hover:before {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 0%;
      background: #333333;
      right: 0px;
      -webkit-transition: width 0.4s;
      transition: width 0.4s;
    }
  }
}

.item {

  h4 {
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p {
    font-size: 12px;
  }

  a {
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;

    i {
      opacity: 0;
      padding-left: 0px;
      transition: 0.4s;
      font-size: 24px;
      display: inline-block;
      top: 5px;
      position: relative;
    }

    &:hover {
      text-decoration: none;

      i {
        padding-left: 10px;
        opacity: 1;
        font-weight: 300;
      }
    }
  }
}

.item .icon {
  position: absolute;
  top: 27px;
  left: -16px;
  cursor: pointer;

  a {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    text-transform: none;
  }

  svg {
    width: 32px;
    height: 32px;
    float: left;
  }

  .icon-topic {
    opacity: 0;
    padding-left: 0px;
    transition: 0.4s;
    display: inline-block;
    top: 0px;
    position: relative;
  }

  &:hover .icon-topic {
    opacity: 1;
    padding-left: 10px;
  }
}

@media only screen and (max-width : 768px) {
  .item .icon {
    position: relative;
    top: 0;
    left: 0;
  }
}

.qms-top-block {
  display: flex;
  gap: 20px;
}

.qms-box-contants {
  font-size: medium;
}

#heading-qms-cards {
  font-weight: bold;
}

#heading-qms-cards:hover {
  /* font-weight: bold; */
  color: rgba(30, 7, 236, 0.667);
}

.qms-main-cards {
  margin-top: 30px;
}

.second-qms-containt {
  border: 1px solid black;
  font-size: medium;
  padding: 20px;
  margin-left: 40px;
}


.main-text-image {
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(146, 143, 143);
  margin-right: -18px;
  box-shadow: rgba(22, 22, 97, 0.2) 0px 7px 29px 0px;

}


.qms-icon-image111 {
  margin-left: -55px;
  height: 35px;
  width: 35px;


}

.assistance-image {
  /* padding: 30px; */
  /* position: absolute; */
  width: 100%;

  height: 300px;
}

.main-containt {
  position: absolute;
  font-size: medium;
  padding: 105px;
  /* background-color: #fbfbfb; */
  color: #fff;
  background-color: #c6c5c536;
}

.content1122 {
  font-size: medium;
  padding: 20px;
}

@media only screen and (max-width : 576px) {
  .qms-top-block {
    display: grid;
    grid-template-columns: 1fr;
  }

  .head-image-containt {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-text-image {
    width: 100%;
    height: 122rem;
  }

  .assistance-image {
    width: 100%;
    height: 122rem;
  }
}